<h2>Add an author</h2>
<form method="POST" action="/authors">
    <input type="text" name="name" placeholder="Name..."><br />
    <input type="number" name="mustacheSize" placeholder="You knows in cent"><br />
    <input type="submit" value="Add Author">
</form>